/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:wght@800&display=swap');


  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */


/*   ----- Variables  -----  */
:root {
    --blue: #0000FF;
    --money: #3e9c35;
    --red: #ff0000;
    --white: #ffffff;
    --light-pink: #ffe5ec;
    --pink: #ffccd9;
    --dark-pink: #ff8fab;
    --black: #353935;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg); 
   }
  to {
    transform: rotate(360deg);
  }
}



/*  ----- Background Color ----- */
body {
  background-color: var(--white);
}


/*  ----- Navigation -----  */
 nav {
  flex-flow: row wrap;
  text-align: center;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  cursor: pointer;
}

nav a {
  background-color: var(--dark-pink);
  border: 5px solid var(--pink); 
  border-radius: 10px; 
  color: var(--black);
  cursor: pointer;
  font-size: 1.8em;
  font-weight:bold;
  margin-right: 5px;
  padding: 8px 66px;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'Playfair Display', serif;
}
nav a:hover {
  background-color:var(--light-pink);
} 

nav :last-child {
  margin-left: 100px;
}

.link {
  font-size: 16px;
  padding: 10px 15px;
  color: var(--dark-pink);
  background-color: var(--white);
  border: 3px solid var(--dark-pink);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: center;
  max-width: fit-content;

}

.profile {
  font-size: 16px;
  padding: 10px 15px;
  color: var(--dark-pink);
  background-color: var(--white);
  border: 3px solid var(--dark-pink);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: center;
  max-width: fit-content;
} 

.category {
  font-size: 16px;
  padding: 10px 15px;
  color: var(--dark-pink);
  background-color: var(--white);
  border: 3px solid var(--dark-pink);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: center;
  max-width: fit-content;
} 

.travel {
  font-size: 16px;
  padding: 10px 15px;
  color: var(--dark-pink);
  background-color: var(--white);
  border: 3px solid var(--dark-pink);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: center;
  max-width: fit-content;
} 

.expense-links {
  display: flex;
}

.income-links {
  display: flex;
}


/*  ----- Tags ----- */

h2 {
  text-align: center;
  margin-top: 80px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 40px;
}

body.welcome {
  background-color: var(--light-pink);
  border-radius: 10px;
  border: 2px solid var(--dark-pink);
  text-align: center;
  margin-right: 300px;
  margin-left: 300px;
  margin-top: 90px;
  
}

h3.pennyplan{
  margin-top: 2%;
  margin-left: 3%;
}


/*  ----- Expense & Income Table ----- */
caption {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

table {
  width: 95%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}


th {
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  border: 2px solid var(--black);
  border-radius: 10px;
}

thead {
  border-bottom: 2px solid var(--pink);
  text-align: center;
  background-color: var(--dark-pink);
  color: var(--white);
  border-radius: 10px;
}

tbody {
  background-color: rgba(255, 143, 171, 0.3);
  text-transform: capitalize;
  text-align: left;
  border-radius: 10px;
  border: 2px solid var(--white);
}

i.icon {
  align-items: center;
  width: 100%;
}


/*  ----- Form ----- */

form, button, input, textarea {
  font-family: 'Alice', cyreal;
  font-size: 1em;
  }

fieldset {
  border: 3px solid var(--black);
  background-color: rgb(255, 143, 171, 0.3);
  text-align: center;
  padding: auto;
  margin: 80px 500px 100px 500px;

}
  legend {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    padding: 0.5%;
    margin: 3%;
    text-align: center;
  }
*:required {
  border: 1.5px solid red;
}

label {
  color: var(--black);
  display: block;
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 1.1em;
  font-style: italic;
  font-display: bold;
}

.add {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.1 rem;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  border: 1;  
  margin-right: 10px;
  margin-left: 10px;
}

.add:hover {
  box-shadow: var(--dark-pink) 0 0 0 3px, transparent 0 0 0 0;
}

button{
  height: 50px;
  width: 150px;
  padding: 1%;
  margin-bottom: 2%;
}

button.cat-button {
  height: 50px;
  width: 150px;
  padding: 1%;
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 3%;
  
}

input {
  height: 40px;
  width: 60%;
  font-size: 1em;
  padding: 1%;
  margin-bottom: 2%;
  overflow: auto;
}
 
input.input-cat {
  height: 40px;
  width: 20%;
  font-size: 1em;
  padding: 1%;
  overflow: auto;
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 8%;
}

input.input-total {
  height: 0px;
  width: 5%;
  font-size: 1em;
  padding: 1%;
  display: flex;
  text-align: center;
  margin-top: 2%;
}

select {
  font-family: 'Alice', cyreal;
  font-size: 1em;
  width: 50%;
  height: 40px;
  font-size: 1em;
  padding: 1%;
  text-align: center;
}

textarea {
  height: 100px;
  width: 500px;
  font-size: 1em;
  padding: 2%;
  margin: 3%;
  overflow: auto;
}

a:link { 
  text-decoration: none; 
  color: #000000;
} 
a:visited { 
  text-decoration: none; 
  color: #000000;
} 
a:hover { 
  text-decoration: none; 
  color: #000000;
} 
a:active { 
  text-decoration: none; 
  color: #000000;
}

/* Welcome page */
.center-button {
  justify-content: center;
  display: flex;
  align-items: center;
}

.loginButton {
  
  background-color: transparent;
  border: 2px solid var(--dark-pink);
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 50px;
  min-height: 40px;
  min-width: 0;
  outline: none;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.loginButton:disabled {
  pointer-events: none;
}

.loginButton:hover {
  background-color: var(--pink);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.loginButton:active {
  box-shadow: none;
  transform: translateY(0);
}


/* logout button */
.logoutButton {
  background-color: transparent;
  border: 2px solid var(--dark-pink);
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0px;
  min-height: 40px;
  min-width: 0;
  outline: none;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
  will-change: transform;
}

.logoutButton:disabled {
  pointer-events: none;
}

.logoutButton:hover {
  background-color: var(--pink);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.logoutButton:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Dashboard graphs */

h3 {
  margin-top: 8%;
  align-items: center;
  margin-left: 10%;
}

.chart-expense{
  width: 55%;
  height: 250px;
  margin: auto;
  margin-bottom: 5%;
}
.chart-expense-title{
  margin-top: 5%;
}

.chart-income-title{
  margin-top: 5%;
}
.chart-income{
  width: 55%;
  height: 250px;
  margin: auto;
}

